@import "./partials/reset";
@import "./partials/vars";

main {
    background-color: $verydarkblue1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: $verydarkblue2;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 62px 7px;

    &__img {
        width: 90%;
        border-radius: 8px;
        align-self: center;
        margin-top: 18px;
        margin-bottom: 20px;
    }

    &__contenedorTexto {
        width: 90%;
        align-self: center;
        margin-bottom: 18px;
    }

    &__title {
        font-family: 'Outfit', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        color: $white;
        margin-bottom: 10px;
    }

    &__subtitle {
        color: $softblue;
        font-family: 'Outfit', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__contenedorDetalles {
        display: flex;
        width: 90%;
        align-self: center;
        justify-content: space-between;

        &--valor {
            display: flex;
            align-items: center;

            & p {
                color: $cyan;
                font-size: 1.5rem;
                font-family: 'Outfit', sans-serif;
            }

            & img {
                margin-right: 5px;
                width: 9px;
            }
        }

        &--dia {
            display: flex;
            align-items: center;

            & p {
                color: $softblue;
                font-size: 1.5rem;
                font-size: 'Outfit', sans-serif;
            }

            & img {
                margin-right: 5px;
                width: 15px;
            }
        }
    }

    &__separador {
        width: 90%;
        height: 1px;
        background-color: $softblue;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    &__contenedorCredito {
        display: flex;
        align-items: center;
        width: 90%;
        align-self: center;
        margin-bottom: 20px;

        &-img {
            width: 25px;
            border-radius: 50px;
            border: solid white 1px;
            margin-right: 15px;
        }

        &-credito {
            font-family: 'Outfit', sans-serif;
            font-size: 1.2rem;
            color: $softblue;

            & span {
                color: $white;
            }
        }
    }
}